.add-details,.vet-button{
    color: #0a66c2;
    border-radius: 2.6rem;
    border: 2px solid #0a66c2;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    margin: 0 2rem;
}

.add-details button ,{
    color: #0a66c2;
    font-size: 16px;
    font-weight: 600;
}

.vet-button{
    padding: 8px;
}

.add-details{
    position:relative;
}

#after-vet-popup-container {
    background: white;
    padding: 39px;
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 17px;
    border-radius: 16px;
    z-index: 99;
    right: 0;
    position: fixed;
    height: 634px;
    width: 800px;
    top: 55px;
    right: 104px;
    border: 1px solid #f5f5f5;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    border-radius: 16px;
}

.after-vet-popup-container-content{
    position: absolute;
    width:100%;
    height:100%;
    background:#ffffff;
    opacity: 1;
}

.hidden{
    display:none;
}

.section-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 22px;
    position: relative;
    color: black;
}

.popup-close {
    position: absolute;
    top: -24px;
    right: -4px;
}

.popup-rating-cointainer {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}